/**
 * @package 	WordPress
 * @subpackage 	Theater
 * @version 	1.0.9
 * 
 * Gutenberg Module RTL Rules
 * Created by CMSMasters
 * 
 */


.editor-styles-wrapper div.wp-block ul > li:before {
	margin:0 0 0 5px;
}

.wp-block-quote, 
.wp-block-quote.is-large, 
.wp-block-quote.is-style-large {
	padding:0 53px 0 0;
}

.wp-block-quote:before, 
.wp-block-quote.is-large:before, 
.wp-block-quote.is-style-large:before {
	left:auto;
	right:0;
}

/* for gutenberg only */
.editor-styles-wrapper div.wp-block ul ol,
.editor-styles-wrapper div.wp-block ol ol,
.editor-styles-wrapper div.wp-block .block-library-list .editor-rich-text__tinymce ol,
.editor-styles-wrapper div.wp-block ul ul,
.editor-styles-wrapper div.wp-block ol ul,
.editor-styles-wrapper div.wp-block .block-library-list .editor-rich-text__tinymce ul {
	margin:0 20px 0 0;
}

