/**
 * @package 	WordPress
 * @subpackage 	Theater
 * @version 	1.0.0
 * 
 * TC Events Responsive CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";


@media only screen {
/*-------------------------------------------------------------------------*/
/* Small Tablet Monitor
/*-------------------------------------------------------------------------*/	
@media @monitor_tablet_small {		
	.tickera_table {
		display:block;
		width:auto;
		
		thead {
			.dn;
		}
		
		tbody, 
		tr, 
		th, 
		td {
			display:block;
			width:auto;
		}
		
		tr {
			margin:0 0 30px;
			.ovh;
			
			&:last-child {
				margin-bottom:0;
			}
		}
		
		td, 
		td.ticket-total, 
		td.ticket-total-all {
			.tac;
			.bd;
			.bdb(0);
			
			&:last-child {
				.bdb;
			}
		}
	}
	
	.tickera_table {
		.actions {
			&:last-child {
				.tac;
			}
			
			.coupon-code {
				display:block;
				float:none;
				margin:0 0 10px;
			}
			
			.tickera-button {
				&.apply_coupon {
					float:none;
					.cl;
				}
			}
			
			.coupon-code-message {
				display:block;
				margin:15px 0;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Tablet Monitor 600
/*-------------------------------------------------------------------------*/	
@media @monitor_tablet_600 {		
	.event_tickets {
		display:block;
		width:auto;
		
		tbody, 
		tr {
			display:block;
			width:auto;
		}
		
		tr {
			margin:0 0 50px;
			
			&:first-child, 
			&:last-child {
				margin-bottom:0;
			}
		}
		
		th {
			.dn;
		}
		
		td {
			display:block;
			width:auto;
			.bd;
			.bdb(0);
			.tac;
			
			&:last-child {
				.bdb(1px);
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Phone Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_phone {
	.tickera_table {
		.ticket-total-all {
			.total_item_title {
				width:50%;
			}
			
			.total_item_amount {
				width:50%;
			}
		}
	}
	
	.fields-wrap  {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		.cl;
	}
}
}


