/**
 * @package 	WordPress
 * @subpackage 	Theater
 * @version 	1.0.0
 * 
 * TC Events CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";

@preloader_events_pad: 58.14%;


/*-------------------------------------------------------------------------*/
/* Global Styles
/*-------------------------------------------------------------------------*/

#tickera_cart {
	.middle_content > & {
		padding:80px 0;
	}
	
	p {
		margin:0;
		padding:0;
	}
}


/***************** Event Icons ******************/
.cmsmasters_theme_icon_tc_time:before { content: '\e880'; }
.cmsmasters_theme_icon_tc_location:before { content: '\e895'; }


/***************** Event Tickets ******************/
.event_tickets {
	border-spacing:0;
	border-collapse:separate;
	width:100%;
	position:relative;
	.ovh;
	
	th, 
	td {
		width:25%;
		padding:0 40px;
		vertical-align:middle;
		position:relative;
		.tal;
		.ovh;
	}
	
	th {
		padding-top:19px;
		padding-bottom:19px;
	}
	
	td {
		padding-top:7px;
		padding-bottom:7px;
		.bdb;
		
		&:first-child {
			.bdl;
		}
		
		&:last-child {
			.bdr;
		}
	}
	
	select {
		width:auto;
		min-width:1px;
	}
}


/***************** Event Errors ******************/
.tc_cart_errors {
	.middle_content > & {
		margin:60px 0 0;
	}
	
	> ul {
		margin:0 0 40px;
		padding:20px 30px;
		
		&:empty {
			.dn;
		}
		
		li {
			&:before {
				content:none;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Events Page
/*-------------------------------------------------------------------------*/

.cmsmasters_tc_events {
	position:relative;
}

.cmsmasters_tc_event {
	position:relative;
	.ovh;
	
	+ .cmsmasters_tc_event {
		padding:50px 0 0;
		margin:50px 0 0;
		.bdt;
	}
	
	.cmsmasters_tc_event_img {
		margin-bottom:20px;
	}
	
	.preloader {
		display:block;
		padding-bottom:@preloader_events_pad;
		
		&.highImg {
			height:auto;
			padding:0;
		}
	}
	
	.cmsmasters_tc_event_cont {
		padding:0;
		position:relative;
		.ovh;
	}
	
	.cmsmasters_tc_event_header {
		padding:0;
	}
	
	.cmsmasters_tc_event_title {
		margin:0;
	}
	
	.cmsmasters_tc_event_category {
		padding:7px 0 0;
		.ovh;
		
		a {
			display:inline-block;
		}
	}
	
	.cmsmasters_tc_event_info {
		padding:5px 0 0;
		position:relative;
		.ovh;
		
		span {
			display:block;
			padding:0 0 0 25px;
			position:relative;
			
			&:before {
				font-size:14px;
				line-height:14px;
				.pos_abs(1.1em, 1em, 0, auto);
			}
		}
	}
	
	.cmsmasters_tc_event_content {
		padding:17px 0 0;
		position:relative;
		.ovh;
		
		&:empty {
			.dn;
		}
		
		p {
			margin:0;
			padding:0;
		}
	}
	
	.cmsmasters_tc_event_ticket {
		padding:25px 0 0;
		position:relative;
		.ovh;
		
		&:empty {
			.dn;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Single Event
/*-------------------------------------------------------------------------*/

.cmsmasters_open_tc_event {
	position:relative;
	.ovh;
	
	.preloader {
		display:block;
		padding-bottom:@preloader_events_pad;
		
		&.highImg {
			height:auto;
			padding:0;
		}
	}
	
	.cmsmasters_tc_event_cont {
		position:relative;
		.ovh;
	}
	
	.cmsmasters_tc_event_header {
		padding:0 0 5px;
	}
	
	.cmsmasters_tc_event_title {
		margin:0;
	}
	
	.cmsmasters_tc_event_category {
		padding:0;
		.ovh;
		
		a {
			display:inline-block;
		}
	}
	
	.cmsmasters_tc_event_info {
		padding:5px 0 0;
		position:relative;
		.ovh;
		
		span {
			display:block;
			padding:0 0 0 25px;
			position:relative;
			
			&:before {
				font-size:14px;
				line-height:14px;
				.pos_abs(1.1em, 1em, 0, auto);
			}
		}
	}
	
	.cmsmasters_tc_event_img {
		padding:0 0 15px;
		position:relative;
		.ovh;
	}
	
	.cmsmasters_tc_event_content {
		padding:17px 0 0;
		position:relative;
		.ovh;
		
		&:empty {
			.dn;
		}
		
		> *:last-child {
			margin:0;
			padding:0;
		}
	}
	
	.cmsmasters_tc_event_ticket {
		padding:50px 0 40px;
		position:relative;
		.ovh;
		
		&:empty {
			.dn;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Cart
/*-------------------------------------------------------------------------*/

.tickera_table {
	border-spacing:0;
	border-collapse:separate;
	width:100%;
	margin:0 0 60px;
	position:relative;
	.ovh;
	
	th, 
	td {
		width:20%;
		padding:0 25px;
		vertical-align:middle;
		position:relative;
		.tal;
		.ovh;
		
		&:last-child {
			.tar;
		}
	}
	
	th {
		padding-top:19px;
		padding-bottom:19px;
	}
	
	td {
		padding-top:7px;
		padding-bottom:7px;
		.bdb;
		
		&:first-child {
			.bdl;
		}
		
		&:last-child {
			.bdr;
		}
	}
	
	.ticket_total, 
	.cart_total_price_title, 
	.cart_total_price {
		font-weight:bold;
	}
	
	.ticket-quantity {
		white-space:nowrap;
		
		input[type=text] {
			display:inline-block;
			width:70px;
			margin:0 5px;
			.tac;
		}
		
		.minus, 
		.plus {
			background-color:transparent;
			font-family:Arial, Helvetica, sans-serif;
			font-size:18px;
			line-height:1em;
			display:inline-block;
			width:1em;
			height:1em;
			padding:0;
			.bd(0);
		}
	}
	
	.ticket-total-all {
		padding-top:25px;
		padding-bottom:25px;
		outline:none;
		
		.total_item_title {
			display:inline-block;
			width:200px;
			padding-top:0;
			padding-left:0;
			padding-right:10px;
			.tal;
		}
		
		.total_item_amount {
			display:inline-block;
			width:80px;
			padding-top:0;
			.tar;
		}
	}
	
	.actions {
		background-color:transparent;
		padding:30px 0 0;
		border:0 !important;
		
		.coupon-code {
			margin-left:0;
			margin-right:5px;
			.fl;
		}
		
		.tickera-button {
			padding-left:25px;
			padding-right:25px;
			
			&.apply_coupon {
				.fl;
			}
		}
	}
}

.owner-info-wrap {
	margin:0 -@col_mar;
	.ovh;
	
	> p {
		.dn;
	}
}

.fields-wrap  {
	width:round((100% / 3) - (@col_mar * 2), 2);
	margin:0 @col_mar 20px;
	position:relative;
	.ovh;
	.fl;
	
	.tickera-input-field {
		width:100%;
	}
	
	label {
		display:block;
		
		span {
			display:block;
			padding:0 0 5px;
		}
	}
}

.tickera_buyer_info {
	margin:0 -@col_mar;
	padding:0 0 30px;
	.ovh;
	
	> p {
		.dn;
	}
	
	> h3 {
		padding:0 0 15px;
		margin:0 @col_mar;
	}
}

.tickera_owner_info {
	padding:0 0 30px;
	
	> h2 {
		margin:0 0 15px;
	}
	
	> h5 {
		margin:0 0 5px;
	}
}



/*-------------------------------------------------------------------------*/
/* Payment
/*-------------------------------------------------------------------------*/

#tc_payment_form {
	padding:35px 30px;
	position:relative;
	.bdb(1px, dashed);
	.ovh;
	
	.middle_content & {
		margin:80px 0;
	}
}

.tickera-payment-gateways {
	padding:5px 0;
	position:relative;
	
	.plugin-title {
		margin:0;
		padding:0;
		overflow:visible;
		
		label {
			display:inline-block;
		}
		
		input {
			margin-left:0;
			margin-right:10px;
			position:relative;
			top:-1px;
		}
		
		img {
			margin-left:10px;
			margin-right:0;
			position:relative;
			top:-3px;
		}
	}
	
	.tc_gateway_form {
		padding:0 0 20px;
		.dn;
		.ovh;
		
		&.tickera-height {
			display:block;
		}
		
		> p:last-child {
			margin:0;
			padding:0;
		}
	}
	
	.tc_cart_direct_checkout {
		.dn;
	}
	
	.tc_redirect_message {
		padding:25px 0 15px;
	}
}



/*-------------------------------------------------------------------------*/
/* Order
/*-------------------------------------------------------------------------*/

.tickera {
	> p {
		margin:80px 0 0;
		padding:35px 30px 25px;
		
		&:empty {
			.dn;
		}
		
		&:last-of-type {
			.dn;
		}
		
		> label {
			display:block;
			margin:15px 0 0;
			
			&:first-child {
				margin-top:0;
			}
		}
		
		> br {
			.dn;
		}
	}
	
	> label {
		display:block;
		margin:0 0 80px;
		padding:25px 30px;
	}
	
	> hr {
		margin:0;
		padding:0;
	}
	
	.order-details {
		border-collapse:collapse;
		
		th,
		td {
			padding:15px 30px;
			.bd;
		}	
	}
	
	.order_details_title {
		display:inline-block;
		width:210px;
	}
}



/*-------------------------------------------------------------------------*/
/* Widgets
/*-------------------------------------------------------------------------*/

.tc_cart_widget {
	position:relative;
	.ovh;
	
	.tc_cart_contents {
		padding:0 0 20px;
	}
	
	.tc_cart_ul {
		list-style:none;
		margin:0;
		padding:0;
		
		li {
			margin:0;
			padding:25px 20px;
			.bdb(1px, dashed);
			
			&:first-child {
				.bdt(1px, dashed);
			}
			
			&:before {
				content:none;
			}
		}
	}
	
	.tc_widget_cart_button {
		padding-left:15px;
		padding-right:15px;
		.fr;
	}
}



/*-------------------------------------------------------------------------*/
/* CSS3 Animations
/*-------------------------------------------------------------------------*/

html.csstransitions {
	.tc_events_color {
		.trans(~'color .3s ease-in-out');
	}
	
	.cmsmasters_tc_event .cmsmasters_tc_event_category a, 
	.cmsmasters_open_tc_event .cmsmasters_tc_event_category a {
		.trans(~'color .3s ease-in-out, background-color .3s ease-in-out');
	}
}

