/**
 * @package 	WordPress
 * @subpackage 	Theater
 * @version 	1.0.6
 * 
 * WooCommerce Responsive CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";


@media only screen {
/*-------------------------------------------------------------------------*/
/* Large Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_large {
	ul.order_details {
		li {
			padding:15px 30px;		

			strong {
				margin:15px -30px -15px;
				padding:15px 30px;
			}
		}
	}
}

/*-------------------------------------------------------------------------*/
/* Medium Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_medium {
	.cmsmasters_products {
		outline:none;
	}
}



/*-------------------------------------------------------------------------*/
/* Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet {
	.cmsmasters_dynamic_cart {
		&:before {
			content:none;
		}
		
		.widget_shopping_cart_content {
			.dn;
		}
	}
	
	.cmsmasters_products.columns-6 .product {
		width:round((100% / 3) - (@col_mar * 2), 2);
		
		&:nth-child(6n+1) {
			clear:none;
		}
		
		&:nth-child(3n+1) {
			clear:left;
		}
	}
	
	.cmsmasters_products.columns-5 .product {
		width:round((100% / 3) - (@col_mar * 2), 2);
		
		&:nth-child(5n+1) {
			clear:none;
		}
		
		&:nth-child(3n+1) {
			clear:left;
		}
	}
	
	.cmsmasters_products.columns-4 .product {
		width:round((100% / 2) - (@col_mar * 2), 2);
		
		&:nth-child(4n+1) {
			clear:none;
		}
		
		&:nth-child(2n+1) {
			clear:left;
		}
	}
	
	.enable_header_centered .cmsmasters_dynamic_cart_wrap,
	.cmsmasters_dynamic_cart_wrap {
		.dn;
	}
	
	ul.order_details {		
		.flex_wrap(wrap);

		li {
			width:50%;
			
			&:nth-child(5) {
				width:100%;
			}
		}
	}
	
	.cmsmasters_product {
		&:hover {
			.price {
				visibility:visible;
				.op(1);
			}
		}
	
		.button_to_cart_wrap {
			margin-top:5px;
			position:relative;
			left:auto;
			top:auto;
			height:auto;
			width:auto;
			visibility:visible;
			.op(1);
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_small {
	.col2-set {
		> * {
			width:round(100% - (@col_mar * 2), 2);
			margin-bottom:40px;
			float:none;
			.cl;
			
			&:last-child {
				margin-bottom:0;
			}
		}
	}
	
	.cmsmasters_dynamic_cart {
		display:inline-block;
		vertical-align:middle;
		float:none;
		margin:0 10px;
		
		.cmsmasters_dynamic_cart_button > span {
			margin-top:0;
		}
	}
	
	.cmsmasters_single_product {
		.cmsmasters_product_left_column {
			width:100%;
			float:none;
			padding:0 0 40px;
		}
		
		.cmsmasters_product_right_column {
			width:100%;
			float:none;
			padding:0;
		}
	}
	
	.shop_table.cart {
		display:block;
		.tac;
		.ovh;
		
		tbody, 
		tr, 
		th, 
		td {
			display:block;
			.tac;
			.ovh;
		}
		
		thead {
			.dn;
		}
		
		.cart_item {
			padding:20px 0;
			position:relative;
			.bdb;
			
			&:first-child {
				.bdt;
			}
		}
		
		tr:first-child td {
			.bdt(0);
		}
		
		td {
			padding:15px;
			.bd(0);
			.bxsh_none;
			
			&.product-price, 
			&.product-quantity, 
			&.product-subtotal {
				.bd(0);
			}
			
			&.actions {
				padding-top:45px;
			}
		}
		
		.product-remove {
			padding:0;
			position:absolute;
			left:auto;
			right:0;
			top:20px;
			z-index:1;
		}
		
		.product-thumbnail {
			width:auto;
			padding-left:0;
			padding-right:0;
			.tac;
			
			img {
				width:80px;
			}
		}
		
		.product-price, 
		.product-quantity, 
		.product-subtotal {
			display:inline-block;
			width:33.33%;
			margin:0 -2px;
			vertical-align:middle;
		}
		
		.product-price {
			.tar;
		}
		
		.product-quantity {
			padding-left:0;
			padding-right:0;
		}
		
		.product-subtotal {
			.tal;
		}
		
		.actions {
			.tac;
			
			.coupon {
				padding:0 0 20px;
				float:none;
				.tac;
			}
			
			.input-text {
				display:block;
				margin:0 auto 10px;
			}
		}
	}
	
	.woocommerce-message {
		.button {
			display:block;
			margin:0 0 20px;
		}
	}
	
	.shop_table.woocommerce-checkout-review-order-table, 
	.shop_table.order_details {
		th, 
		td {
			padding:10px 15px;
		}
	}
	
	.cart_totals {
		table {
			width:100%;
		}
	}
	
	ul.order_details {
		li {
			padding:10px 15px;
			position:relative;
			.fl;
			.ovh;
			
			&:before {
				content:none;
			}
			
			strong {
				display:block;
				margin:10px -15px -10px;
				padding:10px 15px;
			}
		}
	}
}



/*-------------------------------------------------------------------------*/
/*	Tablet Monitor 600
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_600 {
	.cmsmasters_products.columns-6 .product, 
	.cmsmasters_products.columns-5 .product, 
	.cmsmasters_products.columns-3 .product {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		
		&:nth-child(n) {
			.cl;
		}
	}
}



/*-------------------------------------------------------------------------*/
/* Phone Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_phone {
	.cmsmasters_products.columns-6 .product, 
	.cmsmasters_products.columns-5 .product, 
	.cmsmasters_products.columns-4 .product, 
	.cmsmasters_products.columns-3 .product, 
	.cmsmasters_products.columns-2 .product {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		
		&:nth-child(n) {
			.cl;
		}
	}
	
	.form-row {
		width:round(100% - (@col_mar * 2), 2);
		float:none;
		.cl;
	}
	
	.woocommerce-message, 
	.woocommerce-info {
		.tac;
	
		.button {
			display:block;
			margin-right:0;
			.tac;
		}
	}
	
	table.variations {
		select {
			display:block;
		}
		
		.reset_variations {
			display:inline-block;
			margin:10px 0 0;
		}
	}
	
	.cmsmasters_woo_wrap_result {
		.woocommerce-result-count {
			padding:0 10px 20px;
			float:none;
			.tac;
		}
		
		.woocommerce-ordering {
			float:none;
		}
	}
	
	.cmsmasters_single_product {
		.cmsmasters_product_thumbs {
			.cmsmasters_product_thumb {
				width:60px;
			}
		}
		
		.cmsmasters_product_info_wrap {
			float:none;
			padding:0 0 30px;
			.tal;
		}
		
		.price {
			.tal;
		}
		
		.cmsmasters_star_rating {
			float:none;
		}
	}
	
	.woocommerce-checkout-payment {
		padding:20px 15px;
		
		.place-order {
			.terms {
				display:block;
				padding:15px 0 0;
			}
		}
	}
	
	ul.order_details {
		li {
			width:100%;
			float:none;
		}
	}
}
}

