/**
 * @package 	WordPress
 * @subpackage 	Theater
 * @version		1.0.0
 * 
 * CMSMasters Events Schedule Responsive CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";


@media only screen {
/*-------------------------------------------------------------------------*/
/* Small Tablet Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_tablet_small {
	.cmsmasters_events_schedule {
		.cmsmasters_event_schedule_heading_wrap {
			.tac;
			
			.cmsmasters_event_schedule_heading_left {
				margin-right:0;
				margin-bottom:20px;
			}
			
			.cmsmasters_event_schedule_heading_right {
				display:block;
				.tac;
				
				.cmsmasters_event_schedule_heading {
					.tac;
				}
			}
		}
	}	
}



/*-------------------------------------------------------------------------*/
/* Phone Monitor
/*-------------------------------------------------------------------------*/
@media @monitor_phone {
	#page {
		.cmsmasters_events_schedule {
			.cmsmasters_events_schedule_wrap_hall  {
				padding:60px 13% 85px;
			}
			
			.cmsmasters_events_schedule_wrap {
				padding:0;
				
				&.active_tab {
					.cmsmasters_event_schedule {
						padding-top:50px;
						
						&:after {
							content:none;
						}
						
						.cmsmasters_event_schedule_cont {
							&:before {
								left:0;
								right:0;
								top:-50px;
							}
						}
					}
				}
				
				.cmsmasters_event_schedule {
					.cmsmasters_event_schedule_date {
						min-height:auto;
					}
					
					* {
						.tac;
					}
				}
			}
		}	
	}
	
	.cmsmasters_open_event_schedule {
		.cmsmasters_speaker_image {
			display:block;
			margin-bottom:10px;
		}
	}
}
}