/**
 * @package 	WordPress
 * @subpackage 	Theater
 * @version 	1.0.0
 * 
 * CMSMasters Events Schedule CSS Rules
 * Created by CMSMasters
 * 
 */



@import "../../../../../theme-framework/theme-style/css/less/general.less";


/*-------------------------------------------------------------------------*/
/* Shortcodes
/*-------------------------------------------------------------------------*/
.cmsmasters_events_schedule {
	position:relative;
	.bd;
	.ovh;
	
	.cmsmasters_event_schedule_inner {
		padding:40px 0;
	}
	
	&.cmsmasters_events_schedule_tabs {
		outline:none;
		
		.cmsmasters_events_schedule_tabs_items > div {
			.dn;
			
			&.active_tab {
				display:block;
			}
		}
	}
	
	.cmsmasters_events_schedule_list_date {
		margin:0;
		padding:10px 20px;
		position:relative;
		.tac;
		.ovh;
		
		> li {
			display:inline-block;
			margin:0;
			padding:0;
			position:relative;
			vertical-align:middle;
			.ovh;
			
			&:before {
				content:none;
			}
			
			a {
				display:block;
				margin:15px 30px;
			}
		}
	}
	
	.cmsmasters_events_schedule_list_hall {
		margin:0;
		padding:16px 20px;
		position:relative;
		.tac;
		.ovh;
		
		> li {
			display:inline-block;
			margin:0 33px;
			padding:0;
			position:relative;
			vertical-align:middle;
			.ovh;
			
			&:before {
				content:none;
			}
			
			a {
				display:block;
			}
		}
	}
	
	.cmsmasters_events_schedule_date_tab {
		&.no_halls {
			padding:18px 20px;
			.tac;
		}
	}
	
	.cmsmasters_events_schedule_wrap_hall {
		padding:30px 70px;
		position:relative;
		.ovh;
	}
	
	.cmsmasters_events_schedule_wrap {
		padding:0;
		position:relative;
		
		&:last-child {
			&:not(.have_posts) {
				padding:25px 0 0;
			}
		}
		
		&.have_posts {
			.cmsmasters_event_schedule {
				padding-bottom:45px;
				
				&:last-child {
					padding-bottom:0;
				}
			}
		}
		
		&:not(.have_posts) {
			padding:25px 0 0;
			
			.cmsmasters_event_schedule_inner {
				.tac;
			}
		}
	}
	
	.cmsmasters_event_schedule {
		position:relative;
	}
	
	.cmsmasters_event_schedule_cont {
		position:relative;
	}
	
	.cmsmasters_event_schedule_heading {
		.cmsmasters_event_schedule_title {
			margin:0;
		}
	}
	
	.cmsmasters_event_schedule_heading_left,
	.cmsmasters_event_schedule_heading_right {
		display:inline-block;
		vertical-align:middle;
	}
	
	.cmsmasters_event_schedule_heading_left {
		margin-right:35px;
	}
	
	.cmsmasters_speaker_image {
		width:70px;
		.bdrs(50%);
		.ovh;
	}
	
	.cmsmasters_event_schedule_date {
		display:block;
		position:relative;
		.ovh
	}
	
	.cmsmasters_event_schedule_heading {
		position:relative;
		.ovh
	}
	
	.cmsmasters_event_schedule_content_wrap {
		position:relative;
		.dn;
		.ovh
	}
	
	.cmsmasters_event_schedule_speaker_wrap {
		margin:20px 0 0;
	}
	
	.cmsmasters_event_schedule_content {
		padding:20px 0 0;
		
		*:last-child {
			padding-bottom:0;
			margin-bottom:0;
		}
	}
	
	.cmsmasters_event_schedule_speaker_wrap {
		margin:20px 0 0;
	}
	
	.cmsmasters_event_schedule_content + .cmsmasters_event_schedule_speaker_wrap {
		margin:14px 0 0;
	}
}



/*-------------------------------------------------------------------------*/
/* Single Event
/*-------------------------------------------------------------------------*/
.events_schedule.opened-article .share_posts {
	float:none;
}

.cmsmasters_open_event_schedule {
	width:100%;
	max-width:100%;
	
	.cmsmasters_img_wrap {
		margin:0 0 34px;
	}
	
	.cmsmasters_event_schedule_time {
		margin:0;
		position:relative;
		.ovh;
	}
	
	.cmsmasters_event_schedule_title {
		margin:0 0 15px;
	}
	
	.cmsmasters_event_schedule_content {
		.ovh;
		
		> *:last-child {
			padding:0;
		}
	}
	
	.cmsmasters_event_schedule_content + .cmsmasters_event_schedule_speaker_wrap {
		margin:14px 0 0;
	}
	
	.cmsmasters_event_schedule_footer {
		margin:30px 0 40px 0;
		padding:25px 0;
		overflow:hidden;
		.bdt;
		.bdb;
	}
	
	.cmsmasters_event_schedule_speaker_wrap {
		display:inline-block;
		vertical-align:middle;
		padding-right:20px;
		width:58%;
		
		> * {
			display:inline-block;
			vertical-align:middle;
		}
	}
	
	.cmsmasters_speaker_image {
		width:60px;
		margin-right:25px;
		.bdrs(50%);
		.ovh;
	}
	
	.cmsmasters_event_schedule_cont_info {
		display:block;
		.tal;
		width:auto;
		
		> span {
			display:block;
		}
	}
	
	.cmsmasters_event_schedule_speaker_wrap + .cmsmasters_event_schedule_cont_info {
		width:42%;
		display:inline-block;
		vertical-align:middle;
		.tar;
	}
}



/*-------------------------------------------------------------------------*/
/* CSS3 Animations
/*-------------------------------------------------------------------------*/

html.csstransitions {
	.cmsmasters_events_schedule .cmsmasters_events_schedule_list_hall > li a {
		.trans(~'color .3s ease-in-out');
	}
}
