/*
Theme Name: Theater Child
Theme URI: http://cmsmasters.net/theater-child/
Author: cmsmasters
Author URI: http://cmsmasters.net/
Description: Theater Child Theme
Template: theater
Version: 1.0.0
Text Domain: theater-child
Tags: one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
*/

.document-gallery .document-icon-row {
	margin-bottom:50px!important;
}

.tribe-events-page-title {
    font-size: 4em;
}

#tribe-events-content > .tribe-events-button {
    display: none!important;
}

aside#tribe-events-sub-nav {
    display: none;
}

body.events-single .headline_outer .headline_inner.align_center .cmsmasters_breadcrumbs {
    display: none;
}

button.playpause:before {
    content: "\f04b";
    font-family: FontAwesome;
	}

button.playpause.play:before {
    content: "\f04c";
    font-family: FontAwesome;
	}

button.playpause { 
    color: white;
	float: right;
    width: 30px;
    height: 30px;
    padding: 0 0 0 3px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	line-height:30px;
	margin: 10px 0 0 0;
	}
button.playpause.play { 
	background-color: #000;
    padding: 0 0 0 0;
	}
	
p.brano {
	border-bottom: 1px solid #ccc;
    padding: 10px 0;
    line-height: 50px;
}

.copertina img {
	margin-bottom:20px;
}

a.itunes_button img,
a.spotify_button img {
    max-width: 150px;
    margin: 0 auto 30px!important;
    display: block;
}